$base-color: #5f5ca8;
$inverse-color: #fafcfd;
$text-base-color: #fafcfd;
$text-inverse-color: #000000;

$font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;

.admin-locale-select {
    font-family: $font-family;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 4px;
    height: 3rem;
    font-size: 1.1rem;
    background-color: $base-color;
    color: $text-base-color;;
    border: 1px solid white;
    transition: 0.3s ease-in-out;
    cursor: pointer;

    &:hover, &.open {
        background-color: rgba($inverse-color, 0.9);
        color: $text-inverse-color;
    }

    &.open{
        .locale-list {
            max-height: 120px;
            overflow: auto;
        }
    }

    .current-locate {
        margin: 0.5rem;
        margin-left: 1rem;
    }

    .locale-list {
        list-style: none;
        margin-top: 1.5rem;
        box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
        overflow: hidden;
        max-height: 0;
        transition: 0.3s ease-in-out;
        padding: 0 !important;
        padding-inline-start: 0;

        &::-webkit-scrollbar {
            width: 0;
        }

        li {
            position: relative;
            color: $text-inverse-color;
            height: 4rem;
            background-color: $inverse-color;
            font-size: 1.1rem;
            display: flex;
            padding: 1rem;
            align-items: center;
            cursor: pointer;
            transition: background-color 0.3s;
            opacity: 1;

            &:hover {
                background-color: $base-color;
                color: $text-base-color;
            }
        }
    }

}
